/* Styles go here */

.logo {
     position: relative;
     top: 0px;
     left: 0px;
     width: 200px;
     height: auto;
     padding: 15px;
 }
.title {
    position: relative;
    top: 0px;
    left: -50px;
    width: 500px;
    height: auto;
    padding: 15px;
}
.navbarr {
    position: relative;
    left: 0px;
    top: 0px;
}
.user {
    position: relative;
    left: -10px;
    top: -80px;
    color: white;
    background-color: #0061ff;
}
.add-song-wrapper {
    width: 500px;
    height: auto;
    position: relative;
    left: 0px;
    top: 0px;
    margin: auto;
}
.buy-song-wrapper {
    width: 100%;
    height: auto;
    position: relative;
    left: 0px;
    top: 0px;
}

.smaller-col{
    width: 9%;
}
.medium-col{
    width: 20%;
}
.owner{
    word-break: break-all;
    width:8.7%
}

.button {
    text-align: center;
    display: inline-block;
    font-size: 20px;
    font-family: "Comic Sans MS";
    color: white;
    cursor: pointer;
    background-color: #0061ff;
    height: 100px;
    width: 98.5%;
    margin-left: 14px;
}
.button-2 {
    text-align: center;
    display: inline-block;
    font-size: 20px;
    font-family: "Comic Sans MS";
    color: #f4ff8b;
    margin-top: 30px;
    margin-left: 20%;
    cursor: pointer;
    background-color: #3f78e2;
    height: 70px;
    width: 65%;
}



/*body {*/
/*    background: white;*/
/*    font-family: "Comic Sans MS";*/
/*}*/

/*table {*/
/*    width: 100%;*/
/*    border-radius: 0.25em;*/
/*    border-collapse: collapse;*/
/*    margin: 1em;*/
/*    border-width: 5px;*/
/*}*/

/*th {*/
/*    border: 5px solid rgba(61, 79, 169, 0.97);*/
/*    color: #f4ff8b;*/
/*    background-color: #0061ff;*/
/*    font-size: 0.85em;*/
/*    font-weight: 600;*/
/*    padding: 0.5em 1em;*/
/*    text-align: center;*/
/*    vertical-align: center;*/
/*}*/

/*td {*/
/*    color: black;*/
/*    border: 5px solid;*/
/*    !* rgba(61, 79, 169, 0.97) *!*/
/*    font-weight: 400;*/
/*    padding: 0.65em 1em;*/
/*    text-align: center;*/
/*}*/
.content-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    min-width: 400px;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.content-table thead tr {
    background-color: #0061ff;
    color: #ffffff;
    text-align: center;
    font-weight: bold;
}

.content-table th,
.content-table td {
    text-align: center;
    padding: 12px 15px;
}

.content-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.content-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}
.content-table tbody tr:last-of-type {
    border-bottom: 2px solid #0061ff;
}

.content-table tbody tr.active-row {
    font-weight: bold;
    color: #0061ff;
}
select{
    background: #3f78e2;
    color: #f4ff8b;
    font-family: Algerian;
    height: 30px;
    width: 200px;
    margin-left: 20%;

}
input {
    display: block;
    background-color: #895024;
    color: #E2B842;
    font-family: "Comic Sans MS";
    margin: 5px 15px;
}

label {
    color: #0061ff;
    font-family: "Comic Sans MS";
    margin: 5px 15px;

}

h1 {
    font-family: Algerian;
    color: black;
    font-size: 66px;
    margin: 10px;
    text-align: center;
}
.h1h1 {
    color: #0061ff;
}



